/* 
** Change this if you need to modify
** the amount of lines displayed
*/
/*
** Leave these unless you want
** to open a whole can of worms
*/
/*
** Set up the experiment
*/
  
  /*
  ** Apply styles to the parent element
  */
  .Words {
    margin: 0 auto;
    position: relative;
    top: -35vh;
    left: 30vw;
    /* left: 100vw/2; */
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
    transition: color 1s ease-in-out;
  }
  
  /*
  ** Apply common styles to each line of text
  */
  .Words-line {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  .Words-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.66667);
  }
  .Words-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.33333);
  }
  .Words-line:nth-child(1) {
    left: 29px;
  }
  .Words-line:nth-child(2) {
    left: 58px;
  }
  .Words-line:nth-child(3) {
    left: 87px;
  }
  .Words-line:nth-child(4) {
    left: 116px;
  }
  .Words-line:nth-child(5) {
    left: 145px;
  }
  
  /*
  ** Fine-grained text styles
  */
  .Words > p {
    height: 68px;
    line-height: 45px;
    padding: 0 10px;
    transition: all 0.4s ease-in-out;
    transform: translate3d(0, 0, 0);
    vertical-align: top;
    white-space: nowrap;
  }
  
  /*
  ** The hover interaction
  */
  .Words:hover p {
    transform: translate3d(0, -50px, 0);
    color: black;
  }

.whyus{
  /* height: auto; */
    /* min-height: 100vh; */
    /* margin-top: 80vh; */
    padding-bottom: 2rem ;
    background-color: #eb0026;
    /* background-image: url('https://i.imgur.com/15kLXCo.jpg'); */
}
.whyuspoints{
    text-align: center;
    font-size: 2rem;
    position: relative;
    /* top:35vh; */
    object-fit: contain;
}
.whyuspoints li{
    padding: 1rem 0 1rem 0;
}
.partner{
    width: 30vw;
    aspect-ratio: 2/2;
    position: relative;
    top: -5vh;
    left: 20%;
    transform: translate(50%);
}
.heading{
    padding: 2rem;
    font-size: 3rem;
}
@media screen and (max-width: 800px) {
    .heading{
        font-size: 2rem;
    }
    .whyuspoints{
        font-size: 1rem;
        
    }
    .whyuspoints li{
      padding: 0.7rem 0;
    }
    .partner{
        width: 50vw;
    }
    .Words{
        /* left: 100vw/2; */
        transform: translate(0%, 5%);
        top: 10vh;
        font-size: 2.8rem;
    }
}